<!doctype html><html><body><h2>Welcome to Orbit, {{ first_name }}</h2><p>Use the secure link below to activate your account and create your password.</p><p><a href="{{ activation_url }}">Activate my account</a></p><p>This link expires in {{ expires_minutes }} minutes. If you did not expect this account, ignore this email.</p></body></html>
